@import 'tailwindcss';

:root {
	/* --font-sans: here if you have one */
	/* --font-mono: here if you got it... */

	/* prefixed with foreground because it should look good on the background */
	--foreground-destructive: hsl(345 82.7% 40.8%);

	--background: hsl(0 0% 100%);
	--foreground: hsl(222.2 84% 4.9%);

	--muted: hsl(210 40% 93%);
	--muted-foreground: hsl(215.4 16.3% 30%);

	--popover: hsl(0 0% 100%);
	--popover-foreground: hsl(222.2 84% 4.9%);

	--card: hsl(0 0% 100%);
	--card-foreground: hsl(222.2 84% 4.9%);

	--border: hsl(214.3 31.8% 91.4%);
	--input: hsl(214.3 31.8% 91.4%);
	--input-invalid: hsl(0 84.2% 60.2%);

	--primary: hsl(222.2 47.4% 11.2%);
	--primary-foreground: hsl(210 40% 98%);

	--secondary: hsl(210 20% 83%);
	--secondary-foreground: hsl(222.2 47.4% 11.2%);

	--accent: hsl(210 40% 90%);
	--accent-foreground: hsl(222.2 47.4% 11.2%);

	--destructive: hsl(0 70% 50%);
	--destructive-foreground: hsl(210 40% 98%);

	--ring: hsl(215 20.2% 65.1%);

	--radius: 0.5rem;

	--sidebar-background: hsl(0 0% 98%);
	--sidebar-foreground: hsl(240 5.3% 26.1%);
	--sidebar-primary: hsl(240 5.9% 10%);
	--sidebar-primary-foreground: hsl(0 0% 98%);
	--sidebar-accent: hsl(240 4.8% 95.9%);
	--sidebar-accent-foreground: hsl(240 5.9% 10%);
	--sidebar-border: hsl(220 13% 91%);
	--sidebar-ring: hsl(217.2 91.2% 59.8%);
}

.dark {
	--background: hsl(222.2 84% 4.9%);
	--foreground: hsl(210 40% 98%);

	/* prefixed with foreground because it should look good on the background */
	--foreground-destructive: hsl(-4 84% 60%);

	--muted: hsl(217.2 32.6% 12%);
	--muted-foreground: hsl(215 20.2% 65.1%);

	--popover: hsl(222.2 84% 4.9%);
	--popover-foreground: hsl(210 40% 98%);

	--card: hsl(222.2 84% 4.9%);
	--card-foreground: hsl(210 40% 98%);

	--border: hsl(217.2 32.6% 17.5%);
	--input: hsl(217.2 32.6% 17.5%);
	--input-invalid: hsl(0 62.8% 30.6%);

	--primary: hsl(210 40% 98%);
	--primary-foreground: hsl(222.2 47.4% 11.2%);

	--secondary: hsl(217.2 20% 24%);
	--secondary-foreground: hsl(210 40% 98%);

	--accent: hsl(217.2 32.6% 10%);
	--accent-foreground: hsl(210 40% 98%);

	--destructive: hsl(0 60% 40%);
	--destructive-foreground: hsl(0 85.7% 97.3%);

	--ring: hsl(217.2 32.6% 60%);

	--sidebar-background: hsl(240 5.9% 10%);
	--sidebar-foreground: hsl(240 4.8% 95.9%);
	--sidebar-primary: hsl(224.3 76.3% 48%);
	--sidebar-primary-foreground: hsl(0 0% 100%);
	--sidebar-accent: hsl(240 3.7% 15.9%);
	--sidebar-accent-foreground: hsl(240 4.8% 95.9%);
	--sidebar-border: hsl(240 3.7% 15.9%);
	--sidebar-ring: hsl(217.2 91.2% 59.8%);
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--color-foreground-destructive: var(--foreground-destructive);
	--color-muted: var(--muted);
	--color-muted-foreground: var(--muted-foreground);
	--color-popover: var(--popover);
	--color-popover-foreground: var(--popover-foreground);
	--color-card: var(--card);
	--color-card-foreground: var(--card-foreground);
	--color-border: var(--border);
	--color-input: var(--input);
	--color-input-invalid: var(--input-invalid);
	--color-primary: var(--primary);
	--color-primary-foreground: var(--primary-foreground);
	--color-secondary: var(--secondary);
	--color-secondary-foreground: var(--secondary-foreground);
	--color-accent: var(--accent);
	--color-accent-foreground: var(--accent-foreground);
	--color-destructive: var(--destructive);
	--color-destructive-foreground: var(--destructive-foreground);
	--color-ring: var(--ring);
	--radius: var(--radius);
	
	--color-sidebar-background: var(--sidebar-background);
	--color-sidebar-foreground: var(--sidebar-foreground);
	--color-sidebar-primary: var(--sidebar-primary);
	--color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
	--color-sidebar-accent: var(--sidebar-accent);
	--color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
	--color-sidebar-border: var(--sidebar-border);
	--color-sidebar-ring: var(--sidebar-ring);
}