DATABASE_PATH="./prisma/data.db"
DATABASE_URL="file:./data.db?connection_limit=1"
CACHE_DATABASE_PATH="./other/cache.db"
SESSION_SECRET="replace_with_long_random_string"
HONEYPOT_SECRET="replace_with_long_random_string"
INTERNAL_COMMAND_TOKEN="replace_with_long_random_string"
PORT="3000"
ALLOW_INDEXING="false"
